@page "/Creator"

<!DOCTYPE html>
<html>
<head>
    <title>Creator</title>
</head>
<body>
    <h1>RedPlus</h1>
    <hr />
    @{ 
        var message = "Welcome...";
    }
    <h3>@message</h3>
</body>
</html>
