@page
@model VisualAcademy.Pages.RestrictedAccessModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Access Restricted</title>
</head>
<body>
    <h1>Access Restricted</h1>
    <p>You will not be able to access this site from your current IP address in the future.</p>
    <hr />
    <a href="~/">Home</a>
</body>
</html>
