<button class="btn btn-primary" @onclick="() => ShowModal = true">Open Modal</button>
<DulModalForm Title="My Modal" ShowModal="@ShowModal" ShowModalChanged="(value) => ShowModal = value">
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
    <p>This is the content of the modal.</p>
</DulModalForm>

@code {
    private bool ShowModal = false;
}
