@page "/photolog-demo"
@rendermode InteractiveServer

<h3>Photo Log Demo</h3>

<h4>1. Embedded Mode - All</h4>
<Azunt.Web.Components.Pages.PhotoLogs.PhotoLogComponent />

<hr />

<h4>2. Embedded Mode - Employee 5</h4>
<Azunt.Web.Components.Pages.PhotoLogs.PhotoLogComponent EmployeeId="5" />
