@page "/movies"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid
@inject VisualAcademy.Data.ApplicationDbContext DB
@using VisualAcademy.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Movie" Pagination="state">
    <PropertyColumn Property="movie => movie.Title" Sortable="true" />
    <PropertyColumn Property="movie => movie.ReleaseDate" Format="yyyy-MM-dd" Title="개봉일" />
    <PropertyColumn Property="movie => movie.Genre" />
    <PropertyColumn Property="movie => movie.Price" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> |
        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<Paginator State="state" />

@code {
    PaginationState state = new PaginationState { ItemsPerPage = 1 };
}
