@page
@model VisualAcademy.Pages.AppointmentsTypes.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentType.AppointmentTypeName"></label>
                <input asp-for="AppointmentType.AppointmentTypeName" class="form-control" />
                <span asp-validation-for="AppointmentType.AppointmentTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AppointmentType.IsActive" /> @Html.DisplayNameFor(model => model.AppointmentType.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
