@page "/OpenIconic"

<h3>OpenIconic</h3>

<div style="font-size: 2rem;">
    <!-- GET Icon -->
    <span class="oi oi-magnifying-glass" title="GET" aria-hidden="true"></span>

    <!-- POST Icon -->
    <span class="oi oi-plus" title="POST" aria-hidden="true"></span>

    <!-- PUT Icon -->
    <span class="oi oi-pencil" title="PUT" aria-hidden="true"></span>

    <!-- DELETE Icon -->
    <span class="oi oi-trash" title="DELETE" aria-hidden="true"></span>
</div>

@code {

}
